version: "3.7"
services:
  app:
    image: php:8.4-fpm-alpine
    restart: unless-stopped
    working_dir: /app
    volumes:
      - ./:/app
    networks:
      - web

  nginx:
    image: cgr.dev/chainguard/nginx:latest-dev
    restart: unless-stopped
    ports:
      - 8080:8080
    volumes:
      - ./:/app
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - web

networks:
  web:
    driver: bridge